version: "3"
services:
  backend:
    container_name: backend
    restart: always
    build:
      context: ./backend
    ports:
      - "8000:8000"
    links:
      - mongo
  mongo:
    container_name: mongo
    image: mongo
    restart: always
    ports:
      - "27018:27017"

  frontend:
    container_name: frontend
    build:
      context: ./frontend
    ports:
      - "8080:8080"
